[submodule "dhsilver-site"]
	path = dhsilver-site
	url = https://github.com/silverdavi/dhsilver-site.git
[submodule "embino-site"]
	path = embino-site
	url = https://github.com/silverdavi/embino-site.git
[submodule "kernel-keys-site"]
	path = kernel-keys-site
	url = https://github.com/silverdavi/kernel-keys-site.git
[submodule "unpop-site"]
	path = unpop-site
	url = https://github.com/silverdavi/unpop-site.git
[submodule "vax-ninja-site"]
	path = vax-ninja-site
	url = https://github.com/silverdavi/vax-ninja-site.git
[submodule "freshsilver-site"]
	path = freshsilver-site
	url = https://github.com/silverdavi/freshsilver-site.git
[submodule "theinvariant-site"]
	path = theinvariant-site
	url = https://github.com/silverdavi/theinvariant-site.git
